
<form id="form" style="height: 45px;" onsubmit="return false;">
    <input placeholder="Enter City" type="text" id="userInput" style="height: 35px; width: 180px;" />
    <input style="height:35px ; " type="submit" onclick="othername();" />
</form>
<div id="toppbar">

    <div class="col" style="font-size: 50px;">Current temperature is :{{ForecastData.temp_now}}°C</div>
    <div class="col" style="font-size: 20px;" >Humidity is :{{ForecastData.humidity}}%</div>
    <div class="col" style="font-size: 20px;">Wind speed is :{{ForecastData.wind_speed}}km/hr</div>
</div>


<div class="topnav">
    
    
   <!-- <form id="form" style="height: 50px;" onsubmit="return false;">
        <input  type="text" id="userInput" />
        <input style="height:30px ;" type="submit" onclick="othername();" />
    </form>
    Take this code to another page
-->


    
    
<div id="major" style="display: flex;">
<div id="divWeatherMain">
    <img id="hello0" src="" alt="img" style="width:130px; height:130px ; padding-left:22px;">
    <!--<div *ngIf="!ForecastData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>
    </div>-->

    

    
    <div class="weatherWidgetRow" style="font-size: 12px;">Min: {{array_2[0]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Max:{{array_1[0]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Today</div>

    

    
</div>

<div id="divWeatherMain">
    <img id="hello1" src="" alt="img" style="width:130px; height:130px ; padding-left:22px;">


    <div class="weatherWidgetRow" style="font-size: 12px;">Min: {{array_2[1]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Max:{{array_1[1]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{array_3[1]}}</div>


   
    
</div>
<div id="divWeatherMain">
    <img id="hello2" src="" alt="img" style="width:130px; height:130px ; padding-left:22px;">


    <div class="weatherWidgetRow" style="font-size: 12px;">Min: {{array_2[2]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Max:{{array_1[2]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{array_3[2]}}</div>

   
    
</div>
<div id="divWeatherMain">
    <img id="hello3" src="" alt="img" style="width:130px; height:130px ; padding-left:22px;">


    <div class="weatherWidgetRow" style="font-size: 12px;">Min: {{array_2[3]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Max:{{array_1[3]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{array_3[3]}}</div>


   
    
</div>
<div id="divWeatherMain">
    <img id="hello4" src="" alt="img" style="width:130px; height:130px ; padding-left:22px;">


    <div class="weatherWidgetRow" style="font-size: 12px;">Min: {{array_2[4]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Max:{{array_1[4]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{array_3[4]}}</div>

   
    
</div>
<div id="divWeatherMain">
    <img id="hello5" src="" alt="img" style="width:130px; height:130px ; padding-left:22px;">

    <div class="weatherWidgetRow" style="font-size: 12px;">Min: {{array_2[5]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Max:{{array_1[5]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{array_3[5]}}</div>

   
    
</div>
<div id="divWeatherMain">
    <img id="hello6" src="" alt="img" style="width:130px; height:130px ; padding-left:22px;">

    <div class="weatherWidgetRow" style="font-size: 12px;">Min: {{array_2[6]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Max:{{array_1[6]}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{array_3[6]}}</div>

   
    
</div>


</div>

